.notification {
  position: fixed;
  top: 20px; /* Keeps it 20px from the top */
  left: 50%; /* Moves the left edge to the horizontal center */
  transform: translateX(-50%); /* Shifts the element back by half its own width */
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.closeIcon {
  font-size: 20px;
  margin-left: 10px;
  border: 1px solid black;
  padding: 5px;
}
.placeholder {
  width: 100%;
  border: 1px solid black;
}